@import '../base/vars';

.custom-controls {
	background-color: $dark;
	// color: #dee2f7;
	color: $lightgray;
	font-size: 0.8rem;
	line-height: 1.3;
	width: 270px;
	position: absolute;
	top: 0;
	button.toggle-btn {
		border: none;
		color: $lightgray;
		width: 100%;
		text-align: left;
		padding: 0 0.5rem;
		position: relative;
		font-size: 0.8rem;
		height: 1.4rem;
		line-height: 1;
		display: flex;
		align-items: center;

		--toggleSize: 0.6rem;
		&:after,
		&:before {
			width: var(--toggleSize);
			height: var(--toggleSize);
			background: $lightgray;
			content: '';
			display: block;
			position: absolute;
			right: 0.5rem;
			transition: all 300ms;
			top: 50%;
			transform: translate(0, -50%) translate(0.1rem, -0.1rem);
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
		}
		&:before {
			border-top: none;
			transform: translate(0, -50%) translate(-0.1rem, 0.1rem);
			clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 0%);
		}

		&[aria-expanded='false'] {
			&:after,
			&:before {
				transform: translate(0, -50%);
			}
		}
	}

	.section {
		border-top: 1px solid $dark2;
		&:nth-child(1) {
			border-top: 0;
		}
		h4 {
			margin-bottom: 3px;
		}
	}

	.input-container {
		margin-bottom: 3px;
		label {
			margin-bottom: 3px;
		}
		input[type='text'] {
			&:focus {
				outline: 1px solid $paleblue;
			}
		}
	}

	.slider-container {
		width: 100%;
		display: flex;
		align-items: center;
		border-top: 1px solid $darkmid;
		padding-bottom: 2px;
		padding-top: 2px;
		&:nth-child(1) {
			border-top: 0;
		}
		label {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			.label-text {
				margin-right: 5px;
			}
			.slider-val {
				display: block;
				background: $dark2;
				padding: 2px;
				border-radius: 2px;
				margin-left: auto;
			}
		}
	}

	.select-container {
		display: flex;
		align-items: center;
		border-top: 1px solid $darkmid;
		padding: 2px 0;
		select {
			margin-left: 5px;
		}
		&:nth-child(1) {
			border-top: 0;
		}
	}

	select {
		background: $dark2;
		color: $lightgray;
		border: 1px solid $darkmid;
		box-shadow: none;
	}

	.btn-container {
		display: flex;
		position: relative;
		justify-content: end;
		flex-wrap: wrap;
		&.break {
			padding-top: 8px;
			&:before {
				position: absolute;
				content: '';
				width: calc(100% + 1rem);
				left: -0.5rem;
				top: 0;
				height: 1px;
				background: $darkmid;
			}
		}
		button {
			margin-left: 5px;
			margin-top: 3px;
		}
	}

	input[type='range'] {
		-webkit-appearance: none;
		width: 150px;
		background-color: $dark2;
		background-image: linear-gradient(#{$dark2} 0%, #{$dark2} 100%);
		height: 0.5rem;
		border-radius: 0.25rem;
		cursor: pointer;
		&::-webkit-slider-thumb,
		&::-moz-range-thumb,
		&::-ms-thumb {
			-webkit-appearance: none;
			background-color: $lightgray;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			border: none;
			transition: background-color 200ms;
			&:hover {
				background-color: $spring;
				border: 2px solid black;
			}
		}

		&::-webkit-slider-runnable-track,
		&::-moz-range-track,
		&::-ms-track {
			-webkit-appearance: none;
			background: transparent;
			box-shadow: none;
			border: none;
		}
	}

	a {
		color: $paleblue;
		text-decoration: underline;
		&:hover,
		&:focus {
			color: $spring;
		}
	}

	.controls-inner {
		padding: 0.5rem 0.5rem 0.3rem;
		transition: all 300ms;
		opacity: 1;
		height: auto;
		&.hidden {
			opacity: 0;
			padding: 0;
			height: 0;
		}
	}

	.error-label {
		// color: #f50000;
		// color: #ff1b1c;
		color: #df2935;
		font-weight: 500;
		transition: all 300ms;
		font-size: 0.8rem;
	}

	input,
	button,
	select {
		&:focus {
			outline: 2px solid $lightgray;
		}
	}
}

.custom-controls .tabs-container {
	button {
		margin-right: 3px;
		&.active {
			background-color: $dark3;
		}
	}
}
.custom-controls .panel {
	display: none;
	background: $dark3;
	padding: 3px 5px;
	&.active {
		display: block;
	}
}

input[type='text'] {
	background-color: $dark2;
	border: none;
	color: $lightgray;
	width: 100%;
	font-size: 0.8rem;
	line-height: 1.6;
	margin: 0;
	padding: 0 0.4rem;
	&:focus {
		outline: 2px solid $paleblue;
		color: white;
	}
}

button {
	background-color: $dark2;
	border: none;
	color: $lightgray;
	margin: 0;
	cursor: pointer;
	padding: 4px 4px;
	font-size: 0.8rem;
	font-weight: 500;
	transition: all 300ms;
	&:hover,
	&:focus {
		background-color: $cadet;
		font-weight: 700;
	}
}

.radio-opts {
	display: flex;
	flex-direction: row;
	label {
		margin-right: 0.5rem;
	}
}
