---
date: 2021-12-30
tags: ['experiment', 'grid', 'mouse', 'show']
title: 'wiggly shapes'
img: '04-wiggly.jpg'
---

extends ../layouts/p5-art.pug

block append scripts 
    script(src='/scripts/projects/04.js' type='module')