---
date: 2022-01-01
title: 'grids'
tags: ['experiment', 'grid', 'show'] 
img: '05-gridpatterns.jpg'
---

extends ../layouts/p5-art.pug

block append scripts 
    script(src='/scripts/projects/05.js' type='module')