---
date: 2022-01-14
title: 'dejong attractors'
tags: ['experiment', 'flow fields', 'attractors', 'show']
img: '06-dejong.png'
---

extends ../layouts/p5-art.pug

block info
    .info dejong attractors. #[a(href='http://paulbourke.net/fractals/peterdejong/') more info]

block append scripts
    script(src='/scripts/projects/06-dejong-attractors.js' type='module')