---
date: 2022-01-14
title: 'flow field'
tags: ['experiment', 'flow fields']
---

extends ../layouts/p5-art.pug

block append scripts 
    script(src='/scripts/projects/06-flowfields.js' type='module')