---
date: 2022-01-15
title: 'spirals'
tags: ['experiment', 'oscillation', 'nature of code']
---

extends ../layouts/p5-art.pug

block append scripts 
    script(src='/scripts/projects/07-spirals/07-spirals.js' type='module')