---
date: 2022-01-16
title: 'asteroids'
tags: ['experiment', 'exercise', 'nature of code']
---

extends ../layouts/p5-art.pug

block append scripts 
    script(src='/scripts/projects/08-asteroids.js' type='module')