---
date: 2022-02-05
title: 'grid loop'
tags: ['experiment']
---

extends ../layouts/p5-art.pug

block append scripts 
	script(src='https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js')
	script(src='/scripts/projects/08-grid.js' type='module')