---
date: 2022-02-10
title: 'loops'
tags: ['experiment', 'loop', 'show'] 
img: '10-gridloop.jpg'
---

extends ../layouts/p5-art.pug

block append scripts 
	script(src='https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js')
	script(src='/scripts/projects/10-loops.js' type='module')