---
date: 2022-02-15
title: 'flowfields'
tags: ['experiment', 'flow fields', 'show']
img: '11-curves-2.jpg'
---

extends ../layouts/p5-art.pug

block append scripts 
	script(src='https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js')
	script(src='/scripts/projects/11-clean.js' type='module')