---
date: 2022-01-02
title: 'Dithering Experiments'
tags: ['experiment', 'genuary','dithering', 'image']
---

extends ../layouts/p5-art.pug

block append scripts 
    script(src='/scripts/projects/dither-experiments.js' type='module')