---
date: 2022-01-09
title: 'Genuary Day 9: Architecture'
tags: ['experiment', 'genuary', 'architecture']
---

extends ../layouts/p5-art.pug

block append scripts 
	script(src='/scripts/projects/genuary9-architecture.js' type='module' defer)