---
date: 2022-01-02
title: 'Genuary Day 2: Dithering'
tags: ['experiment', 'genuary','dithering', 'image']
---

extends ../layouts/p5-art.pug

block append scripts 
	script(src='https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js')
	script(src='/scripts/projects/genuary2-dithering.js' type='module' defer)