---
date: 2022-01-09
title: 'Philly Row Houses (Genuary #9)'
tags: ['experiment', 'genuary', 'architecture', 'show']
img: 'houses.jpg'
---

extends ../layouts/p5-art.pug

block append scripts 
	script(src='/scripts/projects/genuary9-architecture/rowhouses.js' type='module' defer)