extends ../layouts/normal.pug 

block content

	div.gallery
		each item in collections.show 
			div.gallery-item 
				a(href=item.url).gallery-link
					.gallery-img-wrap
						img(src=`images/${item.data.img}` alt=item.data.title).gallery-img 
						img(src=`images/${item.data.img}`).gallery-img.gallery-img-extra
		div.gallery-item.info-item
			h1 generative art experiments 2022 
			.by created by 
				a(href='https://michelleenos.com' target='_blank') michelle enos
