---
title: 'initial sound experiments'
date: 2022-01-15
tags: ['experiment', 'sound']
---

extends ../../layouts/p5-sound.pug

block append scripts 
    script(src='/scripts/projects/sound/sounds-1.js' type='module')