---
date: 2022-01-16
title: 'asteroids'
tags: ['exercise', 'nature of code', 'basics', 'experiment']
---

extends ../../layouts/p5-art.pug

block info
	div excercise from: 
		a(href='https://natureofcode.com/book/chapter-3-oscillation/') nature of code chapter 3

block append scripts 
	script(src='/scripts/basics/asteroids.js' type='module')