---
date: 2022-01-01
tags: ['basics', 'experiment', 'colors']
title: 'color wheel'
---

extends ../../layouts/p5-art.pug
    
block append scripts 
	script(src='/scripts/basics/colorwheel.js' type='module')