---
date: 2022-02-11
tags: ['basics', 'experiment', 'easing']
title: 'easings'
---

extends ../../layouts/p5-art.pug
    
block append scripts 
	script(src='https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js')
	script(src='/scripts/basics/easings.js' type='module')