---
date: 2022-01-16
title: 'harmonic-motion'
tags: ['exercise', 'nature of code', 'basics', 'experiment']
---

extends ../../layouts/p5-art.pug

block append scripts 
	script(src='/scripts/basics/harmonic-motion.js' type='module')