---
date: 2022-01-01
tags: ['basics', 'experiment', 'colors']
title: 'lerp colors'
---

extends ../../layouts/p5-art.pug
    
block append scripts 
	script(src='/scripts/basics/lerpcolors.js' type='module')