---
date: 2021-12-28
tags: ['basics', 'experiment', 'colors']
title: Colors(1)
---

extends ../../layouts/p5-art.pug
    
block append scripts 
	script(src='/scripts/projects/sortcolors.js' type='module')