---
date: 2022-11-08
title: 'use controls'
tags: ['controls', 'basics', 'experiment']
---

extends ../../layouts/p5-art.pug


block append scripts
	script(src='/scripts/basics/use-controls.js' type='module')