@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope[wght].ttf') format('truetype-variations');
	// https://manropefont.com/
}

html {
	font-family: $font;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
	margin-bottom: 0.5rem;
}

h1.blu {
	// color: $blue;
}
