table {
	border-collapse: collapse;
	// width: 100%;
	th[scope='row'] {
		text-align: left;
	}
	tr {
		&:nth-child(2n-1) {
			background-color: #efefef;
			background-color: desaturate(lighten($paleblue, 12), 30);
		}
	}
}

table.main {
	margin: 50px 5%;
	max-width: 900px;
}
