$dark: #19191d;
$dark3: #202025;
$dark2: #2d2d39;
$darkmid: #24242a;
$gray: #586666;
$lightgray: #a9acbd;

$paleblue: #b7c0ee;
$spring: #32de8a;
$cadet: #252541;
$darkpurple: #4b2142;
$font: 'Manrope', sans-serif;
