$dark: #19191d;
$dark3: #202025;
$dark2: #2d2d39;
$darkmid: #24242a;
$gray: #586666;
$lightgray: #a9acbd;

$paleblue: #b7c0ee;
$spring: #32de8a;
$cadet: #252541;
$darkpurple: #4b2142;
$font: 'Manrope', sans-serif;

$smoke: hsl(30, 13%, 6%);
$smoke-9: #676564;
$smoke-1: #1b1917;
$smoke-2: #242220;
$smoke-3: #2e2c2a;
$smoke-4: #373534;

$yellow: #fad161;
$yellow--1: #c8a74e; // 20%
$yellow-1: #fbda81; // 20%
$yellow-2: #fce3a0; // 40%
$yellow-3: #fdedc0; // 60%

$yellow-4: #fef6df; // 80%
